{% extends "layout.html.j2" %}

{% block title %}{{search_term}}{% endblock %}

{% block content %}

<div class="row mb-4">
  <div class="col-md-8 mx-auto">
    <h3>"Here is your cover letter:" </h3>
    <p>"{{result}}"</p>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <p>"Ask me for help with <a href="/ask" >another application</a>".</p>
  </div>
</div>


{% endblock %}
