{% extends "layout.html.j2" %}

{% block title %}{{search_term}}{% endblock %}

{% block content %}

<div class="row mb-4">
  <div class="col-md-8 mx-auto" style="white-space: pre-wrap">
    {{ result }}
    <p>Ask me for help with <a href="/builder" >another application</a>.</p>
  </div>
</div>
<div class="row mb-4">

</div>


{% endblock %}
