{% extends "layout.html.j2" %}
{% block title %} About {% endblock %}
{% block content %}
<div class="row justify-content-center align-items-center" style="height: 70vh;">
  <div class="col-md-10 col-lg-8 text-center">
    <h3 class="mb-4">Meet your new letter writing scribe</h3>
    <a href="/letter_builder" class="btn btn-primary btn-lg">Build a Cover Letter</a>
  </div>
</div>

{% endblock %}