{% extends "layout.html.j2" %}
{% block title %} Build {% endblock %}
{% block content %}

  <div class="row mb-4">
    <div class="col-md-8 mx-auto">
      <h3>Hate writing cover letters? Well you're in the right place.</h3>
      <p>Copy a job description and your resume into the form below and our AI career advisor will bash one out in no time:</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8 mx-auto">
      <form action="#" method="POST" class="text-center" id="cover-letter-input">
        <input id="job_title" name="jobTitle" placeholder="Job Title" required><br><br>
        <input id="company" name="company" placeholder="Company" required><br><br>
        <div class="form-group">
          <label for="jobSpec">Job Spec:</label>
          <textarea class="form-control" id="job_input" name="jobSpec" rows="18" required></textarea><br><br>
        </div>
        <div class="form-group">
          <button type="submit">Submit</button>
        <div>
      </form>
    </div>
  </div>
</div>

{% endblock %}