{% extends "layout.html.j2" %}
{% block title %} {{ username }} {% endblock %}
{% block content %}

<div class="row mb-4">
  <div class="col-md-8 mx-auto text-center">
    <h3> {{ username.capitalize() }}'s Page </h3>
    
  </div>
</div>
<div class="row mb-4">
  <div class="col-md-8 mx-auto text-center">
    <h4>Latest Cover Letter: </h4>
    <p> Cover Letter String </p>
  </div>
  <div class="col-md-4 mx-auto text-center">
  <p>Name: {{ username }}</p>
  <p>Email: {{ email }}</p>
  </div>
</div>


{% endblock %}