{% extends "layout.html.j2" %}
{% block title %} Resume {% endblock %}
{% block content %}
<div class="row mb-4">
  <div class="col-md-8 mx-auto" style="white-space: pre-wrap">
    {{ resume_content }}
  </div>
</div>
{% endblock %}